body {
    font-family: 'Source Sans Pro', sans-serif;
    background-image: linear-gradient(#2b2d2f, white);
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2B2D2F;
  text-align: center;
}

.navbar li {
/*  float: right;*/
    display: inline;
}

.navbar li a {
  display: inline-block;
  color: ghostwhite;
  text-align: center;
  padding: 0.875em 1em;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #DEDEDE;
}

.box {
    padding-top: 10%;
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 10%;
}

.image-div{
    width: 33%;
    background-image: url("../images/IMG_0411.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

.info-div{
    font-size: 150%;
    color: white;
    padding-top: 9%;
    padding-left: 15%;
}

.mainbox{
    background-color: #2B2D2F;
    box-shadow: 0.4em 0.4em #0f1011;
    display: flex;
    justify-content: space-between;
}

ul li ul.dropdown{
        min-width: 99.54%; /* Set width of the dropdown */
        background: #2B2D2F;
        display: none;
        position: absolute;
        z-index: 999;
        left: 0;
    }
    ul li:hover ul.dropdown{
        display: block; /* Display the dropdown */
    }
    ul li ul.dropdown li{
        display: block;
    }

footer {
	text-align:center;
}